/* Main Body code */
body 
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color:gold;
}
/* Top center code */
header 
{
  padding: 10px;
  background-color: gold;
  display: flex;
  text-align: center;
  justify-content: center; 
}
/* Code for website name */
header h1 
{
  margin: 0;
  font-size: 2.5em;
  padding-left: 250px;
  color: #008000;
  background-color:gold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: black, 20pt;
  font-style: italic;
  font-weight: bold;
}
/*Filter header title and Contact Name font and style*/
main 
{
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidebar {
  width: 20%;
  background-color: #e4e4e4;
  padding: 20px;
  max-width: 300px;
  outline-color: green;
  border: green;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-weight: bolder;
  text-align: center;
  box-sizing: border-box; 
}


.sidebar h2 {
  margin-bottom: 10px;
  background-color: green;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  background-color: #ccc;
}

.sidebar li button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #e4e4e4;
  border: none;
  margin-bottom: 5px;
  border-radius: 5%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

.sidebar li button:hover {
  background: green;
}

.main-content {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.search-section {
  padding: 20px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-section input {
  padding: 10px;
  font-size: 14px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-section button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #008000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search-section button:hover {
  background-color: gold;
}

.profiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  background-color: #ccc;
}

.profile {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-details p {
  margin: 5px 0;
}

.profile-action {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #008000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.profile-action:hover {
  background-color: gold
}
