body {
  font-family: Arial, sans-serif;
}
.search-container {
  margin: 50px auto;
  max-width: 400px;
  text-align: center;
}
input[type="text"] {
  padding: 10px;
  width: 250px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.results {
  margin-top: 20px;
}

.title{
  display: flex;
  flex-direction: row;
  color: green;
}

.lefttitle{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1
{
  display: flex;
  flex-direction: row;
  color: green;
}

